<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Product Manager</title>
</head>

<body>

	<div align="center">
		<h1>List User</h1>
		<a href="/new">Create New User</a>
		<br /><br />
		<!-- <img th:src="@{/css/hihi.png}" alt="nguyen dung"/> -->
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th class="border-top-0">User ID</th>
					<th class="border-top-0">Name</th>
					<th class="border-top-0">User Name</th>
					<th class="border-top-0">Pass Word</th>
					<th class="border-top-0">Email</th>
					<th class="border-top-0">Adress</th>
					<th class="border-top-0">CMT</th>
					<th class="border-top-0">Created At</th>
					<th class="border-top-0">Updated At</th>
					<th class="border-top-0">Phone</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${listUsers}">
					<td th:text="${user.id}">User ID</td>
					<td th:text="${user.name}">Name</td>
					<td th:text="${user.username}">User Name</td>
					<td th:text="${user.password}">Pass Word</td>
					<td th:text="${user.email}">Email</td>
					<td th:text="${user.adress}">Adress</td>
					<td th:text="${user.cmt}">CMT</td>
					<td th:text="${user.created_at}">Created At</td>
					<td th:text="${user.updated_at}">Update At</td>
					<td th:text="${user.phone}">Phone</td>

				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>